/* 
================================================================================
WSP COMPONENT LIBRARY STYLESHEET FOR PASQUALE PALAZZOLO
================================================================================ */

/* GLOBAL STYLES ======================================== */
body {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	background: #39424D;
	color: #666666;
}

article {
    border-bottom: 2px solid #8E6E3F;
    padding: 0px 0px 30px;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Sanchez', serif; }
h1 { font-size: 2em; margin: 12px 0; }
h2 { font-size: 1.5em; margin: 10px 0; color: #74592E; }
h3 { font-size: 1.25em; margin: 10px 0; color: #74592E; }

img { max-width: 100%; }

#wrapper {
	width: 100%;
}

#contentWrapper {
	width: 90%;
	max-width: 960px;
	background: #ffffff; /* #ff0000; */
	padding: 20px;
	margin: 0 auto;
}

.clear { clear: both; }

.subText {
	font-size: 12px;
	font-style: italic;
	margin-bottom: 10px;
}

.subText a {
	color: #381800;
}

.subText a:hover {
	color: #8E6E3F;
}
/* HEADER SPECIFIC ======================================== */
#circles {
	float: left;
	width: 20%;
}

#lwLogo {
    background: #ffffff url('https://github.com/PasqualeFS/wsp_project/blob/gh-pages/images/logo.jpg?raw=true') no-repeat left top;
    width: 460px;
    height: 170px;
    margin: 0 auto;
    float: left;
}

#mainHeader {
	float: left;
	width: 80% ;
}

.blueCircle {
	position: relative;
	width: 100px;
	height: 100px;
	background: #8EB0C8;
	border-radius: 50px;
	box-shadow: 2px 2px 2px #000000;
	z-index: 1;
}

.offPage {
	text-indent: -9999px;
}

.yellowCircle {
	position: relative;
	width: 100px;
	height: 100px;
	background: #e6db74;
	border-radius: 50px;
	box-shadow: 2px 2px 2px #000000;
	margin: -70px 0 0 40px;
	opacity: 0.5;
	z-index: 9999;
}

/* NAVIGATION STYLES ======================================== */
nav ul {
    float: right;
    margin: 70px;
}
nav li { 
	display: inline;
	margin-left: 12px; 
}

#navigation a {
    display: inline;
    margin-left: 12px;
    font-weight: bold;
    color: #666;
    text-decoration: none;
}

#navigation a:hover {
	color: #8E6E3F;
	text-decoration: underline;
}
/* ABOUT SPECIFIC ======================================== */
.bioLeft,
.bioRight {
	width: 45%;
	background: #000000;
	border-radius: 10px;
	height: 40px;
}

.bioLeft { float: left; }
.bioRight { float: right; }
/* COMPONENTS SPECIFIC ======================================== */


/* MEDIA QUERIES ======================================== */

/* Portrait and Landscape */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  	#lwLogo {
    width: 200;
    height: 170px;
	}
}
