/* 
================================================================================
WSP COMPONENT LIBRARY STYLESHEET FOR PASQUALE PALAZZOLO
================================================================================ */

/* GLOBAL STYLES ======================================== */
body {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	background: #39424D;
	color: #000001;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Sanchez', serif; }
h1 { font-size: 2em; margin: 12px 0; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }

#wrapper {
	width: 100%;
}

#contentWrapper {
	width: 90%;
	max-width: 960px;
	background: #ffffff; /* #ff0000; */
	padding: 20px;
	margin: 0 auto;
}

.clear { clear: both; }
/* HEADER SPECIFIC ======================================== */
#circles {
	float: left;
	width: 20%;
}

#lwLogo {
    background: #ffffff url('https://github.com/PasqualeFS/wsp_project/blob/gh-pages/images/logo.jpg?raw=true') no-repeat left top;
    width: 650px;
    height: 251px;
    margin: 0 auto;
}

#mainHeader {
	float: left;
	width: 80% ;
}

.blueCircle {
	position: relative;
	width: 100px;
	height: 100px;
	background: #8EB0C8;
	border-radius: 50px;
	box-shadow: 2px 2px 2px #000000;
	z-index: 1;
}

.offPage {
	text-indent: -9999px;
}

.yellowCircle {
	position: relative;
	width: 100px;
	height: 100px;
	background: #e6db74;
	border-radius: 50px;
	box-shadow: 2px 2px 2px #000000;
	margin: -70px 0 0 40px;
	opacity: 0.5;
	z-index: 9999;
}
/* ABOUT SPECIFIC ======================================== */

/* COMPONENTS SPECIFIC ======================================== */