/* 
================================================================================
WSP COMPONENT LIBRARY STYLESHEET FOR PASQUALE PALAZZOLO
================================================================================ */

/* GLOBAL STYLES ======================================== */
body {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	background: #39424D;
	color: #666666;
}

a { color: #74592E; text-decoration: none; }
a:hover { color: #8E6E3F; }

article {
    border-bottom: 2px solid #8E6E3F;
    padding: 0px 0px 30px;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Sanchez', serif; }
h1 { font-size: 2em; margin: 12px 0; }
h2 { font-size: 1.5em; margin: 10px 0; color: #74592E; }
h3 { font-size: 1.25em; margin: 10px 0; color: #74592E; }

img { max-width: 100%; }

p { margin-bottom: 14px; line-height: 18px; letter-spacing: 1px; }

#wrapper {
	width: 100%;
}

#contentWrapper {
	width: 90%;
	max-width: 960px;
	background: #ffffff; /* #ff0000; */
	padding: 20px;
	margin: 0 auto;
}

.clear { clear: both; }
.left { float: left; }
.right { float: right; }

.standardButton {
	background: #74592E;
	display: inline-block;
	padding: 10px 20px 11px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	margin-top: 20px;
}

.standardButton:hover {
	background: #8E6E3F;
	color: #ffffff;
}

.subText {
	font-size: 12px;
	font-style: italic;
	margin-bottom: 10px;
}

.subText a {
	color: #381800;
}

.subText a:hover {
	color: #8E6E3F;
}
/* HEADER SPECIFIC ======================================== */

#lwLogo {
    background: #ffffff url('https://github.com/PasqualeFS/wsp_project/blob/gh-pages/images/logo.jpg?raw=true') no-repeat left top;
    margin: 0 auto;
    width: 460px;
    height: 170px;    
}

.offPage {
	text-indent: -9999px;
}

/* NAVIGATION STYLES ======================================== */
nav ul {
    float: right;
    margin: 70px;
}
nav li { 
	display: inline;
	margin-left: 12px; 
}

#navigation a {
    display: inline;
    margin-left: 12px;
    font-weight: bold;
    color: #666;
    text-decoration: none;
}

#navigation a:hover {
	color: #8E6E3F;
	text-decoration: underline;
}
/* ABOUT SPECIFIC ======================================== */
#bio {
	width: 98%;
	background: #000000;
	border-radius: 10px;
	overflow: auto;
	padding: 20px;
	box-shadow: 2px 2px 2px #666666;
	border: none;
    margin-bottom: 40px;	
}

#circles {
	float: left;
	width: 20%;
}

#bioHeader {
	width: 100% ;
	color: #ffffff;
}

.dkbrownCircle {
	position: relative;
	width: 100px;
	height: 100px;
	background: #74592E;
	border-radius: 50px;
	box-shadow: 2px 2px 2px #000000;
	z-index: 1;
}

.headshot {
    float: right;
    border-radius: 200px;
    border: 2px solid #666666;
    padding: 10px;
    position: relative;
    top: -30px;
}

.ltbrownCircle {
	position: relative;
	width: 100px;
	height: 100px;
	background: #8E6E3F;
	border-radius: 50px;
	box-shadow: 2px 2px 2px #000000;
	margin: -70px 0 0 40px;
	opacity: 0.5;
	z-index: 9999;
}

/* COMPONENTS SPECIFIC ======================================== */
.leftImg { float: left; margin-right: 20px; }
.rightImg { float: right; }

/* MEDIA QUERIES ======================================== */

/* Portrait and Landscape */
@media only screen and (min-width: 320px) and (max-width: 540px) {
  	#lwLogo {
        background: #ffffff url('https://github.com/PasqualeFS/wsp_project/blob/gh-pages/images/logo_small.png?raw=true') no-repeat top;
        max-width: 100%;
        height: 103px;
	}

	.headshot {
		float: none;
		margin-top: 30px;
	}

	.dkbrownCircle, 
	.ltbrownCircle {
		display: none;
	}

	.headerIndent {
    margin: 0px 0 0 60px;
    }
}
