/* 
================================================================================
FOOTER COMPONENT STYLESHEET
================================================================================ */

body {
	background: #E2E2E2;
	width: 100%;
}

footer {
	margin: 0 auto;
	background: #F6F6F6;
	text-align: center;
}

section {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	width: 280px;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color: #154783;
	margin-bottom: 10px;
}

li {
	height: 26px;
}

li > a {
	color: #0076BF;
}

li > a:hover {
	color: #C31230;
	transition: color 0.2s linear 0s;
}



#footerMenu {
	margin: 0 auto;
	width: 1200px;
	text-align: center;
	padding: 20px 0;
}

#footerBranding {
	width: 100%;
	height: 80px;
	padding: 20px 0;
	background: #164783;
	text-align: center;
	margin: 0 auto;
	background: url('images/bubbles.png') no-repeat #164783;
}


/* Branding/Logo Section */

.footerLogo {
	background: url('images/fhLogo.png') no-repeat;
	width: 236px;
	height: 37px;
	margin: 0 auto;
}



/* -- Social Icon Webfont found at www.socicon.com -- */
@font-face {
    font-family: 'socicon';
    src: url('socicon/font/socicon.eot');
    src: url('socicon/font/socicon.eot?#iefix') format('embedded-opentype'),
         url('socicon/font/socicon.woff') format('woff'),
         url('socicon/font/socicon.ttf') format('truetype'),
         url('socicon/font/socicon.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

#social li {
	display: inline;
	padding: 0 10px 0 0; 
}

.socicon {
    font-family: 'socicon' !important;
    font-size: 22px;
    color: #0076BF;
}

.socicon:hover {
	color: #C31230;
	transition: color 0.2s linear 0s;
}

.socicon-facebook:before { content: "b"; }
.socicon-twitter:before { content: "a"; }
.socicon-youtube:before { content: "r"; }
.socicon-google:before { content: "c"; }
.socicon-pinterest:before { content: "d"; }
.socicon-linkedin:before { content: "j"; }

