<!-- aboutcomp.html -->

<!DOCTYPE html>
<html>
<head>
	<title>WSP: Pasquale Palazzolo | About Us Component</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	<!-- Link to my chosen serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
	<!-- Link to my chosen sans serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- BEGIN ABOUT COMPONENT 
		HTML written is structured based on ideas learned in our Tuesday night lecture. I've applied one ID to the section to set width in CSS but the remaining elements should all be able to be styled with a parent/child selector using the ID and the element inside it. The uniformity of this page helps in cutting down on overuse of IDs and classes.
	-->
	<section id="aboutUs">
		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="images/TomC.png" /></p><!-- for headshot -->
			<h3>Tom K.</h3><!-- for employee name -->
			<p>CEO and Founder</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->

		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="images/_0001_SeanC.png" /></p><!-- for headshot -->
			<h3>Sean C.</h3><!-- for employee name -->
			<p>Chief Operating Officer</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->

		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="images/_0002_GeneK.png" /></p><!-- for headshot -->
			<h3>Gene K.</h3><!-- for employee name -->
			<p>Chief Financial Officer</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->

		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="images/_0003_MohammedA.png" /></p><!-- for headshot -->
			<h3>Mohammed A.</h3><!-- for employee name -->
			<p>Director of Deliverability</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->

		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="images/_0004_AmandaE.png" /></p><!-- for headshot -->
			<h3>Amanda E.</h3><!-- for employee name -->
			<p>Sr. Recruiter</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->

		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="images/_0005_HeatherG.png" /></p><!-- for headshot -->
			<h3>Heather G.</h3><!-- for employee name -->
			<p>Office Manager</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->

		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="images/_0006_HopeB.png" /></p><!-- for headshot -->
			<h3>Hope B.</h3><!-- for employee name -->
			<p>Director of HR</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->

		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="images/_0007_DeniseW.png" /></p><!-- for headshot -->
			<h3>Denise W.</h3><!-- for employee name -->
			<p>Learning &amp; Development Manager</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->

		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="images/_0008_MikeF.png" /></p><!-- for headshot -->
			<h3>Mike F.</h3><!-- for employee name -->
			<p>Sr. Facility Manager</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->

		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="images/_0009_TomM.png" /></p><!-- for headshot -->
			<h3>Tom M.</h3><!-- for employee name -->
			<p>Porter</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->

		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="images/_0010_WayneR.png" /></p><!-- for headshot -->
			<h3>Wayne R.</h3><!-- for employee name -->
			<p>Porter</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->

		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="images/_0011_DamonP.png" /></p><!-- for headshot -->
			<h3>Damon P.</h3><!-- for employee name -->
			<p>Chef/Manager</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->
	</section>
	<!-- END ABOUT COMPONENT -->
</body>
</html>