<!-- aboutcomp.html -->

<!DOCTYPE html>
<html>
<head>
	<title>WSP: Pasquale Palazzolo | About Us</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	<!-- Link to my chosen serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
	<!-- Link to my chosen sans serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- BEGIN FIRST ROW -->
	<div>
		<div><!-- BEGIN EMPLOYEE CONTAINER -->
			<div></div><!-- for headshot -->
			<h3></h3><!-- for employee name -->
			<p></p><!-- for employee title -->
		</div><!-- END EMPLOYEE CONTAINER -->

		<div><!-- BEGIN EMPLOYEE CONTAINER -->
			<div></div><!-- for headshot -->
			<h3></h3><!-- for employee name -->
			<p></p><!-- for employee title -->
		</div><!-- END EMPLOYEE CONTAINER -->

		<div><!-- BEGIN EMPLOYEE CONTAINER -->
			<div></div><!-- for headshot -->
			<h3></h3><!-- for employee name -->
			<p></p><!-- for employee title -->
		</div><!-- END EMPLOYEE CONTAINER -->

		<div><!-- BEGIN EMPLOYEE CONTAINER -->
			<div></div><!-- for headshot -->
			<h3></h3><!-- for employee name -->
			<p></p><!-- for employee title -->
		</div><!-- END EMPLOYEE CONTAINER -->

		<div><!-- BEGIN EMPLOYEE CONTAINER -->
			<div></div><!-- for headshot -->
			<h3></h3><!-- for employee name -->
			<p></p><!-- for employee title -->
		</div><!-- END EMPLOYEE CONTAINER -->

		<div><!-- BEGIN EMPLOYEE CONTAINER -->
			<div></div><!-- for headshot -->
			<h3></h3><!-- for employee name -->
			<p></p><!-- for employee title -->
		</div><!-- END EMPLOYEE CONTAINER -->
	</div>
	<!-- END FIRST ROW -->
	

	<!-- BEGIN SECOND ROW -->
	<div>
		<div><!-- BEGIN EMPLOYEE CONTAINER -->
			<div></div><!-- for headshot -->
			<h3></h3><!-- for employee name -->
			<p></p><!-- for employee title -->
		</div><!-- END EMPLOYEE CONTAINER -->

		<div><!-- BEGIN EMPLOYEE CONTAINER -->
			<div></div><!-- for headshot -->
			<h3></h3><!-- for employee name -->
			<p></p><!-- for employee title -->
		</div><!-- END EMPLOYEE CONTAINER -->

		<div><!-- BEGIN EMPLOYEE CONTAINER -->
			<div></div><!-- for headshot -->
			<h3></h3><!-- for employee name -->
			<p></p><!-- for employee title -->
		</div><!-- END EMPLOYEE CONTAINER -->

		<div><!-- BEGIN EMPLOYEE CONTAINER -->
			<div></div><!-- for headshot -->
			<h3></h3><!-- for employee name -->
			<p></p><!-- for employee title -->
		</div><!-- END EMPLOYEE CONTAINER -->

		<div><!-- BEGIN EMPLOYEE CONTAINER -->
			<div></div><!-- for headshot -->
			<h3></h3><!-- for employee name -->
			<p></p><!-- for employee title -->
		</div><!-- END EMPLOYEE CONTAINER -->

		<div><!-- BEGIN EMPLOYEE CONTAINER -->
			<div></div><!-- for headshot -->
			<h3></h3><!-- for employee name -->
			<p></p><!-- for employee title -->
		</div><!-- END EMPLOYEE CONTAINER -->
	</div>
	<!-- END SECOND ROW -->
</body>
</html>