<!-- aboutcomp.html -->

<!DOCTYPE html>
<html>
<head>
	<title>WSP: Pasquale Palazzolo | About Us Component</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	<!-- Link to my chosen serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
	<!-- Link to my chosen sans serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- BEGIN FIRST ROW -->
	<section>
		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="" /></p><!-- for headshot -->
			<h3>Tom K.</h3><!-- for employee name -->
			<p>CEO and Founder</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->

		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="" /></p><!-- for headshot -->
			<h3>Sean C.</h3><!-- for employee name -->
			<p>Chief Operating Officer</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->

		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="" /></p><!-- for headshot -->
			<h3>Gene K.</h3><!-- for employee name -->
			<p>Chief Financial Officer</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->

		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="" /></p><!-- for headshot -->
			<h3>Mohammed A.</h3><!-- for employee name -->
			<p>Director of Deliverability</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->

		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="" /></p><!-- for headshot -->
			<h3>Amanda E.</h3><!-- for employee name -->
			<p>Sr. Recruiter</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->

		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="" /></p><!-- for headshot -->
			<h3>Heather G.</h3><!-- for employee name -->
			<p>Office Manager</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->
	</section>
	<!-- END FIRST ROW -->
	

	<!-- BEGIN SECOND ROW -->
	<section>
		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="" /></p><!-- for headshot -->
			<h3>Hope B.</h3><!-- for employee name -->
			<p>Director of HR</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->

		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="" /></p><!-- for headshot -->
			<h3>Denise W.</h3><!-- for employee name -->
			<p>Learning &amp; Development Manager</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->

		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="" /></p><!-- for headshot -->
			<h3>Mike F.</h3><!-- for employee name -->
			<p>Sr. Facility Manager</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->

		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="" /></p><!-- for headshot -->
			<h3>Tom M.</h3><!-- for employee name -->
			<p>Porter</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->

		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="" /></p><!-- for headshot -->
			<h3>Wayne R.</h3><!-- for employee name -->
			<p>Porter</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->

		<article><!-- BEGIN EMPLOYEE CONTAINER -->
			<p><img src="" /></p><!-- for headshot -->
			<h3>Damon P.</h3><!-- for employee name -->
			<p>Chef/Manager</p><!-- for employee title -->
		</article><!-- END EMPLOYEE CONTAINER -->
	</section>
	<!-- END SECOND ROW -->
</body>
</html>