<!-- gallerycomp.html -->

<!DOCTYPE html>
<html>
<head>
	<title>WSP: Pasquale Palazzolo | Image Gallery</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="gallerycomp.css" />
	<!-- link rel="stylesheet" type="text/css" href="../../css/main.css" / -->
	<!-- Link to my chosen serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
	<!-- Link to my chosen sans serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- Component -->
		
		<!-- BEGIN IMAGE GALLERY SECTION 
			This may likely be the easiest page to apply CSS to.  I used a section here with one <a> tag, one <ul> and an image nested in each <li>. Because of the similarity of each image in the way it's styled, putting a class on each li or img tag would be overuse for sure.  Instead, these can be later targeted via the ID using a child selector.
		-->
		<section id="imgGallery">
			<h1>Austin Food Photographer</h1>
			<a href="#">[Show as slideshow]</a>
			<ul>
				<li><img src="images/bruschetta.png" alt="Grilled Bruschetta" /><li>
				<li><img src="images/pinenuts.png" alt="Pine Nuts" /><li>					
				<li><img src="images/hash.png" alt="Hash" /><li>
				<li><img src="images/crostini.png" alt="Crostini" /><li>
				<li><img src="images/halibut.png" alt="Seared Halibut" /><li>
				<li><img src="images/chicken.png" alt="Roast Chicken with Cranberry Chutney" /><li>
				<li><img src="images/vegetarian.png" alt="Mushrooms and Asparagus with Balsamic Reduction" /><li>
				<li><img src="images/beef.png" alt="Beef Tenderloin with Fingerling Potatoes" /><li>
			</ul>
		</section>
		<!-- END IMAGE GALLERY SECTION -->
	<!-- End Component -->
</body>
</html>