/* 
================================================================================
IMAGE GALLERY COMPONENT STYLESHEET
================================================================================ */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
}

#imgGallery {
	width: 740px;
	margin: 0 auto;
}

h1 {
	font-size: 2em;
	font-weight: lighter;
	margin: 50px 0;
}

a {
	color: #06C;
}

a:hover {
	color: #FF4B33;
}

li {
	display: inline-block;
	margin-top: 8px;
}

img {
	padding: 4px;
	width: 162px;
	height: 162px;
	border: 1px solid #a9a9a9; 
	margin: 10px 10px 0 0;
}

img:hover {
	
	border: 4px solid #a9a9a9;
	padding: 0;
}

ul {
	margin-top: 8px;
}