<!-- headercomp.html -->

<!DOCTYPE html>
<html>
<head>
	<title>WSP: Pasquale Palazzolo | Header Component</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<!-- link rel="stylesheet" type="text/css" href="css/main.css" / -->
	<!-- Link to my chosen serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
	<!-- Link to my chosen sans serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
		
		<!-- 
		***************************
		BEGIN HEADER COMPONENT HTML 
		***************************
			Keeping the HTML as simple and semantic as possible, I intend to use the logo as a background image on the h1 tag and text-indent
			the copy off the page.  There are two unordered lists.  One for the navigation links and one for the social/search icons.
		-->
		<header>
		<h1>codrops</h1>
		<!-- This UL is for the main navigation -->
		<ul>
			<li><p><a href="#">Tutorials</a></p></li>
			<li><p><a href="#">Playground</a></p></li>
			<li><p><a href="#">Blueprints</a></p></li>
			<li><p><a href="#">Collective</a></p></li>
			<li><p><a href="#">CSS Reference</a></p></li>
		</ul>

		<!-- This UL will eventually hold the social icons once CSS is applied -->
		<ul>
			<li><p><a href="#">RSS Feed</a></p></li>
			<li><p><a href="#">Email</a></p></li>
			<li><p><a href="#">Twitter</a></p></li>
			<li><p><a href="#">Facebook</a></p></li>
			<li><p><a href="#">Google Plus</a></p></li>
			<li><p><a href="#">Github</a></p></li>
			<li><p><a href="#">Search</a></p></li>
		</ul>
		</header>
		<!-- END HEADER COMPONENT HTML -->
</body>
</html>
