<!-- logincomp.html -->

<!DOCTYPE html>
<html>
<head>
	<title>WSP: Pasquale Palazzolo | Log In/Registration Form</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<!-- link rel="stylesheet" type="text/css" href="../../css/main.css" / -->
	<!-- Link to my chosen serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
	<!-- Link to my chosen sans serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
		<!-- 
		*******************************
		BEGIN LOGIN/REGISTRATION FORM
		*******************************
			
		 -->
		<section>
			<!-- BEGIN SIGN IN -->
			<article><!-- for Sign In -->
				<h2>Sign In</h2><!-- Header -->
				<p>Already have an account?</p><!-- Bold Copy -->
				<p>Sign in to your account using</p><!-- Standard Copy -->
				<ul><!-- For Social Icons -->
					<li><a href="#">Facebook</a></li>	
					<li><a href="#">LinkedIn</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Google Plus</a></li>
					<li><a href="#">Yahoo</a></li>
				</ul>
				<p>or</p><!-- for OR -->
				<form>
					<label><input placeholder="Email address" /></label><br/><!-- for email -->
					<label><input placeholder="Password" /></label><br/><!-- for password -->
					<a href="#">Forgot password?</a><!-- for 'forgot password?' -->
					<a href="#">Sign In</a><!-- for sign in button -->
				</form>
			</article>
			<!-- END SIGN IN -->


			<!-- BEGIN CREATE ACCOUNT -->
			<article>
				<h2>Create Account</h2><!-- Header -->
				<p>Create your account using</p><!-- Standard Copy -->
				<ul><!-- For Social Icons -->
					<li><a href="#">Facebook</a></li>	
					<li><a href="#">LinkedIn</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Google Plus</a></li>
					<li><a href="#">Yahoo</a></li>
				</ul>
				<p>or</p><!-- for OR -->
				<form>
					<label><input placeholder="Email address" /></label><br/><!-- for email -->
					<label><input placeholder="Password" /></label><br/><!-- for password -->
					<label><input placeholder="Confirm Password" /></label><br/><!-- for confirm password -->
					<label><input type="checkbox" /> I am a <span>publisher</span></label><br/><!-- for publisher checkbox -->
					<label><input type="checkbox" /> I agree electronically to the <span>publisher terms of use</span>, <span>privacy policy</span> and confirm being at least 13 years old.</label><br/><!-- for agree checkbox -->
					<p><a href="#">Create Account</a></p><!-- for create account button -->
				</form>
			</article>
			<!-- END CREATE ACCOUNT -->

		</section>
		 <!-- END LOGIN/REGISTRATION FORM -->
</body>
</html>