<!-- sidebarnews.html -->

<!DOCTYPE html>
<html>
<head>
	<title>WSP: Pasquale Palazzolo | Full-Screen Background Image</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" href="sidebarnews.css">
	<!-- link rel="stylesheet" type="text/css" href="../../css/main.css" / -->
	<!-- Link to my chosen serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
	<!-- Link to my chosen sans serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
		<!-- BEGIN LATEST NEWS SECTION -->
		<aside id="latestNews">
			<h2>Latest News</h2>
			<div class="hzRule"> </div>
			<!-- CSS on this should be fairly simple.  Again, because of the uniformity of the styling on each teaser, CSS can be applied directly to all h4, img, p and article tags to set font sizes and the horizontal rule dividers between each article without overuse of IDs and classes. -->
			<article>
				<a href="#"><img src="images/Bentley.png" alt="Bentley"></a>
				<section>
				<a href="#">
				<h4>Auto</h4>
				<p>A 1954 Bentley to Make You Weep Over Today's SUVs</p>
				<p>2 hours</p>
				</a>
				</section>
			</article>
			<article>

				<a href="#"><img src="images/YouTube.png" alt="YouTube"></a>
				<section>
				<a href="#">
				<h4>Content</h4>				
				<p>We Spend Insane Amounts of Time Watching YouTube on Phones</p>
				<p>2 hours</p>
				</a>
				</section>
			</article>
			<article>
				<a href="#"><img src="images/Reddit.png" alt="Reddit"></a>
				<section>
				<a href="#">
				<h4>Amageddon</h4>				
				<p>Reddit Is Not a Free Speech Free-for-All</p>
				<p>3 hours</p>
				</a>
				</section>
			</article>
			<section class="newsSection">
				<a href="#" class="moreNews">&nbsp;&nbsp;More News</a>
			</section>
		</aside>
		<!-- END LATEST NEWS SECTION -->
</body>
</html>