<!-- teasercomp.html -->

<!DOCTYPE html>
<html>
<head>
	<title>WSP: Pasquale Palazzolo | Teaser</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<!-- link rel="stylesheet" type="text/css" href="../../css/main.css" / -->
	<!-- Link to my chosen serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
	<!-- Link to my chosen sans serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
		
		<!-- 
		***************************
		BEGIN TEASER COMPONENT HTML
		***************************
			I've created one section element.  Each teaser is in a separate article within the section.
		 -->
		<section>
			<!-- Dropmark Teaser -->
			<article>
				<a href="#">Dropmark</a>
				<h2>Dropmark</h2>
				<p>Dead simple collaboration in the cloud.</p>
				<p><a href="#">Visit</a></p>
			</article>

			<!-- Symbolset Teaser -->
			<article>
				<a href="#">Symbolset</a>
				<h2>Symbolset</h2>
				<p>Symbolsets are semantic symbol fonts.</p>
				<p><a href="#">Visit</a></p>
			</article>

			<!-- Siteleaf Teaser -->
			<article>
				<a href="#">Siteleaf</a>
				<h2>Siteleaf</h2>
				<p>A lightweight way to create and manage websites.</p>
				<p><a href="#">Visit</a></p>
			</article>
		</section>
		<!-- END TEASER COMPONENT HTML -->
</body>
</html>