<!DOCTYPE html>
<html>
<head>
	<title>WSP: Pasquale Palazzolo | Teaser</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="teasercomp.css" />	
	<!-- Link to my chosen serif Google Font -->
	<link href="http://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet" type="text/css">
	<!-- Link to my chosen sans serif Google Font -->
	<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
</head>
<body>
		
		<!-- 
		***************************
		BEGIN TEASER COMPONENT HTML
		***************************
			I've created one section element.  Each teaser is in a separate article within the section. The majority of these items can be styled via a parent/child selector since they are uniform across all three teasers.  The exception is the image.  Each is different.  I applied a class to each a tag where I intend to use a background-image via CSS to establish the hover effect.
		 -->
		<section id="teasers">
			<!-- Dropmark Teaser -->
			<article>
				<a href="#" class="teardrop"></a>
				<h2>Dropmark</h2>
				<p>Dead simple collaboration<br />in the cloud.</p>
				<a href="#" class="button">Visit</a>
			</article>

			<!-- Symbolset Teaser -->
			<article>
				<a href="#" class="heart"></a>
				<h2>Symbolset</h2>
				<p>Symbolsets are semantic<br />symbol fonts.</p>
				<a href="#" class="button">Visit</a>
			</article>

			<!-- Siteleaf Teaser -->
			<article>
				<a href="#" class="leaf"></a>
				<h2>Siteleaf</h2>
				<p>A lightweight way to create<br />and manage websites.</p>
				<a href="#" class="button">Visit</a>
			</article>
		</section>
		<!-- END TEASER COMPONENT HTML -->
</body>
</html>