<!-- ctacomp.html -->

<!DOCTYPE html>
<html>
<head>
	<title>WSP: Pasquale Palazzolo | Call To Action</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../../css/main.css" />
	<link rel="stylesheet" type="text/css" href="ctacomp.css"
	<!-- Link to my chosen serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
	<!-- Link to my chosen sans serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
		<!-- BEGIN CTA SECTION 
			HTML was simple enough as far as semantics. It made sense to lay it out like this.  Uniformity of colors, fonts and dimensions should make for simple CSS declarations based on the section ID alone.  I think I may need to add a few individual classes due to slight variation in image sizes but will be able to determine this better during the CSS phase.
		-->
		<section id="fitCTAs">
			<!-- Remaining Weight to Lose -->
			<article>
				<section>
					<img src="images/Weight.png" alt="Weight Remaining" />
					<p><span class="larger">163.6</span> lbs to go</p>
				</section>
			</article>

			<!-- Calories Burned Today -->			
			<article>
				<section>
					<img src="images/Burned.png" alt="Burned" />
					<p><span class="larger">1,833</span> calories</p>
					<p class="green">Champ!</p>
				</section>
			</article>

			<!-- Active Minutes Today -->
			<article>
				<section>
					<img src="images/Active.png" alt="" />
					<p><span class="larger">0</span> active minutes</p>
				</section>
			</article>

			<!-- Floors Climbed Today -->
			<article>
				<section>
					<img src="images/Floors.png" alt="" />
					<p><span class="larger">0</span> floors</p>
				</section>
			</article>

			<!-- Best Steps Record -->
			<article>
				<section>
					<img src="images/Steps.png" alt="" />
					<p><span class="larger">10,000</span> steps</p>
					<p class="smaller">Best in a day</p>
				</section>
			</article>

			<!-- Remaining Daily Calorie Intake -->
			<article>
				<section>
					<img src="images/Cals.png" alt="" />
					<p><span class="larger">1,669</span> cals</p> 
					<p class="smaller">left to eat</p>
				</section>
			</article>
		<section>
		<!-- END CTA SECTION -->
</body>
</html>