/* 
================================================================================
CTA COMPONENT STYLESHEET
================================================================================ */

body {
	background: #2F3F43;
	color: #333333;
}

#fitCTAs {
	width: 920px;
	margin: 0 auto;
}

article {
	background: #ffffff;
	text-align: center;
	width: 275px;
	height: 275px;
	display: inline-block;
	vertical-align: top;
	border-radius: 4px;
	padding: 14px;
	margin: 10px 10px 0 0;
}

p {
	margin-top: 25px;
}

.larger {
	font-size: 50px;
}

img {
	width: 60%;
	height: 60%;
}
