<!-- followsocialcomp.html -->

<!DOCTYPE html>
<html>
<head>
	<title>WSP: Pasquale Palazzolo | Follow/Social Icons</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<!-- link rel="stylesheet" type="text/css" href="../../css/main.css" / -->
	<!-- Link to my chosen serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
	<!-- Link to my chosen sans serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- BEGIN FOLLOW/SOCIAL COMPONENT -->
	<section id="socialLinks">
		<!-- My thought here was there is no need for classes on the p or h2 tags that follow this comment since I can use an ID selector for the section and target the p and h2 as specific child elements within this section -->
		<p>Follow TC down one or all of these great paths:</p>
		<h2>Follow TC:</h2>
		<ul>
			<!-- I used individual classes because I intend to add a background image that switches when the user hovers and I'm going to text-indent the copy off the page -->
			<li><a href="#" target="_blank" class="instagram-icon">Instagram</a></li>
			<li><a href="#" target="_blank" class="twitter-icon">Twitter</a></li>
			<li><a href="#" target="_blank" class="facebook-icon">Facebook</a></li>
			<li><a href="#" target="_blank" class="pinterest-icon">Pinterest</a></li>
		</ul>
	</section>
	<!-- END FOLLOW/SOCIAL COMPONENT -->
</body>
</html>