<!-- followsocialcomp.html -->

<!DOCTYPE html>
<html>
<head>
	<title>WSP: Pasquale Palazzolo | Follow/Social Icons</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../../css/main.css" />
	<link rel="stylesheet" type="text/css" href="followsocial.css" />
	<!-- Link to my chosen serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
	<!-- Link to my chosen sans serif Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- BEGIN FOLLOW/SOCIAL COMPONENT -->
	<section id="socialLinks">
		<!-- My thought here was there is no need for classes on the p or h2 tags that follow this comment since I can use an ID selector for the section and target the p and h2 as specific child elements within this section -->
		<p>Follow TC down one or all of these great paths:</p>
		<h2>Follow TC: </h2>
		<ul>
			<li><a href="http://instagram.com/travelingchristian"><span class="socicon">x</span> </a></li>
			<li><a href="http://twitter.com/KiDFRONTATiON"><span class="socicon">a</span> </a></li>
			<li><a href="http://facebook.com/TravelingChristian"><span class="socicon">b</span> </a></li>
			<li><a href="http://pinterest.com/TCJourneys"><span class="socicon">d</span> </a></li>
		</ul>
	</section>
	<!-- END FOLLOW/SOCIAL COMPONENT -->
</body>
</html>